<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Management</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    
    <header>
        
        <h1>FEEDBACK MANAGEMENT</h1>
        <div class="admin-container">
            <img src="admin login image.png" class="logo">
        
        <div class="admin-login">
             <span>Admin login</span>
        </div>
    </div>
    </header>

    
    <section class="about">
        <h2>About us:</h2>
        <p>
            The AIML Department at Dayananda Sagar College of Engineering is home to various student-driven clubs that foster innovation and technical growth. 
            One of the most prominent clubs is <b>CodeZero</b>, a community dedicated to coding, problem-solving, web development, and AI/ML advancements. 
            CodeZero provides a platform for students to collaborate, learn, and showcase their skills through workshops, coding competitions, and industry interactions.
        </p>

        <h3>Encouraging Growth Through Feedback</h3>
        <p>
            To further improve these initiatives, the department values student feedback on all events conducted. Providing feedback allows students to voice 
            their opinions, share suggestions, and highlight areas for improvement. This helps organizers refine future events, ensuring they are more engaging, 
            informative, and aligned with students interests. By actively participating in feedback, students contribute to shaping a better learning environment, 
            making every event more impactful and rewarding.
        </p>
    </section>

   
    <section class="active-forms">
        <h2>Active Forms :</h2>
        <div class="forms-container">
            <div class="form-box"></div>
            <div class="form-box"></div>
            <div class="form-box"></div>
        </div>
    </section>

</body>
</html>